body {
  margin: 0;
  background: #101935;
  color: beige;
  font-weight: 600;
  padding: 5px;
}
body h3 {
  margin: 20px;
}
.alert {
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 16px;

  background: #490202;

  border: 2px solid #000000;
}

header {
  background: #222a68;
  padding: 10px;
}

.cards {
  margin: 20px;
}

/* Hide checkbox */
input {
  display: none;
}

/* Card */
.card {
  display: flex;
  align-items: center;

  width: 300px;
  height: 400px;
  min-height: 350px;

  background: #2e294e;

  border-radius: 20px;

  overflow: hidden;

  cursor: pointer;

  transition: 0.5s ease;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

/* Photo section */
.photo {
  width: 200px;
  height: 400px;

  flex-shrink: 0;
}

.photo img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

/* Text section */
.card-expention {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
}

/* Hide details */
.info {
  opacity: 0;
  max-height: 0;

  overflow: hidden;

  transition: 0.3s;
}

/* Expand card */
input:checked + .card {
  width: 97%;

  height: auto;
  min-height: 400px;
}

/* Reveal details */
input:checked + .card .info {
  opacity: 1;
  max-width: 400px;
  max-height: 300px;
  margin-top: 15px;
}

.nav-bar {
  margin-top: 0px;
  overflow: hidden;
  overflow-x: auto;
}
.nav-bar ul {
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
  padding-left: 0;
  margin-left: 0;
}

.nav-bar ul li {
  list-style: none;
}

.nav-bar a {
  display: block;
  padding: 8px 8px;
  background: #0b7a75;
  border: 1px solid #000000;
  border-radius: 8px;
  color: #ccb7ae;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.2s;
  box-shadow: 0 0 15px rgba(11, 122, 117, 0.45);
}

.nav-bar a:hover,
.nav-bar a.active {
  background: #1f1a31;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

.cat {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: moving;
  animation: moving 2s ease-in-out infinite;

  animation-duration: 0.5s;
}

@keyframes moving {
  0% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(200px);
  }

  25% {
    transform: translateX(400px);
  }
}
footer {
  background: rgb(15, 19, 46);
  padding: 10px;
  font-weight: 600;
  margin: 0;
  color: beige;
  text-shadow: 1px 1px 3px white;
}
